/* src/styles/NumberList.css */
.container {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  min-height: auto;
  padding: 15px;
  padding-top: 0;
}

.button-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number-grid {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  flex-grow: 1;
}

.number-list-cell {
  min-width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.2s ease-in-out;
  max-width: 300px; /* Thêm thuộc tính này */
}

.number-list-cell:hover {
  transform: scale(1.05);
}

.number-list-cell.bg-danger.text-white {
  background-color: #dc3545 !important;
  color: white !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.number-list-cell.bg-light.text-dark {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}

.clickable:focus {
  outline: 2px solid orange;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}

.goal-info {
  margin-bottom: 15px;
  text-align: center;
}

.centered-label-progressbar .progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-label-progressbar .progress-bar > span {
  position: absolute; /* Để label nằm trên cùng */
  left: 50%;
  transform: translateX(-50%); /* Căn giữa theo chiều ngang */
  color: white; /* Hoặc màu chữ bạn muốn */
  font-size: 0.8em; /* Điều chỉnh kích thước chữ nếu cần */
}

/* Các style khác có thể có trong file của bạn */
